<!DOCTYPE html>
  <html lang="es">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="./css/nuevo_css.css" media="screen,projection"></link>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <meta charset="UTF-8">
      <title>Inicio - ShaCar</title>
    </head>

    <body>
      <div class="container">
        <div class="div_fondo">     <!--MENU-->
          <div class="row">
           <nav id="nav_top" role="navigation">
            <div id="top" class="nav-wrapper col s12">
              <a href="/principal" class="brand-logo" title="Voler al inicio"><img class="logo" src="./img/flecha.png"></img></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/registrarse" title="Ir a Registrarse" tabindex="0">Registrarse</a></li>
                <li><a href="/iniciarSesion" title="Ir a Iniciar sesión" tabindex="0">Iniciar sesión</a></li>
                <li><a href="/como_funciona" title="Ir a Como funciona" tabindex="0">Cómo funciona</a></li>
              </ul>
            </div>
          </nav>
        </div>

    <div class="row">               <!--IMAGENES-->
      <div class="div_fondo">
      <div class="slider">
        <ul class="slides">
          <li>
            <img role="img" src="http://www.webtenerife.com/es/interes/empresas-servicios-turista/empresas-actividades/publishingimages/ppalweb-atlantiksurf.jpg"> <!-- random image -->
            <div class="caption center-align">
              <p class="text_shadow">Dsifruta de nuetras playas</p>
            </div>
          </li>
          <li>
            <img role="img" src="http://www.grancanaria.com/patronato_turismo/fileadmin/diseno2014/img/sport/cabeceras_estaticas/lucha_canaria.jpg"> <!-- random image -->
            <div id="segunda_transicion" class="caption left-align">
              <p class="text_shadow">Conoce nuestros deportes</p>
              <!--<h5 >Solo elija un destino</h5>-->
            </div>
          </li>
          <li>
            <img role="img" src="http://www.abc.es/Media/201409/09/Islas%20Canarias%20Fotografia%20Submarina-1--478x270.jpg"> <!-- random image -->
            <div id="tercera_transicion" class="caption right-align">
              <p class="text_shadow">Conoce nuestras especies endémicas</p>
              <!--<h5>y escoja su preferido</h5>-->
            </div>
          </li>
          <li>
            <img role="img" src="http://www.grancanaria.com/patronato_turismo/fileadmin/diseno2014/img/naturaleza/cabeceras_estaticas/senderismo.jpg"> <!-- random image -->
            <div id="cuarta_transicion" class="caption center-align">
              <p class="text_shadow">Camina y únete</p>
              <!--<h5>y comience a disfrutar de las ventajas de compartir coche</h5>-->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row #bbdefb blue lighten-4 z-depth-2">
    <div class="div_media_pantalla col s3 ">
      <div id="buscar">
        <div class="margen">
          <p role="heading" class="titulo2" tabindex="0">Reserve su plaza</p>
          <form role="form">
            <div class="row">
              <div class="input-field col s10">
                <p class="texto_principal" tabindex="0">Escoja su deporte</p>
                <input id="destino_index" placeholder="E.j: surf"  type="text" required>
                </div>
                <div class="input-field col s10">
                <p class="texto_principal" tabindex="0">Ubicación</p>
                <input id="destino_index" placeholder="E.j: Tenerife"  type="text" required>
                </div>

            </div>

            <div class="row">
              <div class="input-field col s10">
                <p class="texto_principal" tabindex="0">Escoja su fecha</p>
                <input role="input" id="fecha" type="date" class="datepicker" placeholder=" - ">
              </div>
            </div>

            <div class="row">
              <!--button role="button" id="boton_buscar" class="waves-effect waves-light btn" tabindex="0">Buscar</button-->
            </div>
          </form>
          <input id="boton_buscar" name="boton_buscar" type="submit" value="Buscar" class="waves-effect waves-light btn">
        </div>
       </div>
    </div>


    <div  id="destinos" class="col s9">
        <div class="tabla #b0bec5 blue-grey lighten-3 z-depth-2">
          <table class="highlight">
           <thead>
             <tr>
                 <th data-field="name" tabindex="0">Destinos más buscados para realizar deportes</th>
             </tr>
           </thead>
           <tbody class="#ffffff white">
             <tr>
               <td>La Laguna</td>
             </tr>
             <tr>
               <td>Adeje</td>
             </tr>
             <tr>
               <td>Puerto de la Cruz</td>
             </tr>
             <tr>
               <td>Benijo</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div id="titleprueba1" class="titleprueba1"></div>
       <div id="prueba" class="prueba"></div>
    </div>
  </div>

  <footer id="pie" class="page-footer">
              <div class="row">
                <div class="col l4 offset-l2 s12">

                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/sobreNos" title="Informacion Adicional" tabindex="0">Sobre nosotros</a></li>
                  </ul>
                </div>
              </div>
            <div class="footer-copyright">
              <div class="container">
              © 2016 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">@SoftapisLCD.com</a>
              </div>
            </div>
      </footer>



          </div>
        </div>
    </body>
    <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="js/materialize.min.js"></script>
          <script>
            $(document).ready(function(){
            $('.slider').slider();
            $('#textarea1').val('New Text');
          $('#textarea1').trigger('autoresize');
          $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15 // Creates a dropdown of 15 years to control year
        });

            });
            </script>
  </html>
