<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="./css/nuevo_css.css" media="screen,projection"></link>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <meta charset="UTF-8">
      <title>Como funciona - SHACAR</title>
    </head>

    <body>
      <div class="container">
        <div class="div_fondo">     <!--MENU-->
          <div class="row">
           <nav id="nav_top" role="navigation">
            <div id="top" class="nav-wrapper col s12">
              <a href="/" class="brand-logo" title="Voler al inicio"><img class="logo" src="./img/logotipo.png"></img></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/" title="Ir a Inicio" tabindex="0">Inicio</a></li>
                <li><a href="/registrarse" title="Ir a Registrarse" tabindex="0">Registrarse</a></li>
                <li><a href="/iniciarSesion" title="Ir a Iniciar sesión" tabindex="0">Iniciar sesión</a></li>
                <li><a class="pagina_actual z-depth-2" href="/como_funciona" title="Ir a Como funciona" tabindex="0">Cómo funciona</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="row card #bbdefb blue lighten-4">
            <p role="heading" class="titulo " tabindex="0">¿Qué es Shacar?</p>
            <p class="parrafo" tabindex="0"> Shacar es la página a través de la cual los usuarios residentes en Tenerife pueden compartir su coche con otras personas.<br>
              Ambos usuarios se pondrán de acuerdo sobre la hora de recogida y el trayecto a realizar hablando por el chat de la web o por télefono.<br>
              Shacar unicamente pone en contacto a los usuarios<br>

              <p tabindex="0">Datos de contacto:</p>

           <div class="tabla #b0bec5 blue-grey lighten-3 z-depth-2">
             <table class="highlight">
              <thead>
                <tr>
                    <th data-field="id" tabindex="0">Localización</th>
                    <th data-field="name" tabindex="0">Datos de contacto</th>
                </tr>
              </thead>
              <tbody class="#ffffff white">
                <tr>
                  <td tabindex="0">La Laguna</td>
                  <td tabindex="0">Contacto: Correo electrónico: shacarNorte@gmail.com. Teléfono: 922645879</td>
                </tr>
                <tr>
                  <td tabindex="0">Adeje</td>
                  <td tabindex="0">Contacto: Correo electrónico: shacarNorte@gmail.com. Teléfono: 922646222</td>
                </tr>
              </tbody>
            </table>
          </div>




</div>
  <footer id="pie" class="page-footer">
              <div class="row">
                <div class="col l4 offset-l2 s12">

                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/sobreNos" title="Informacion Adicional" tabindex="0">Sobre nosotros</a></li>
                  </ul>
                </div>
              </div>
            <div class="footer-copyright">
              <div class="container">
              © 2016 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">@ShacaR.com</a>
              </div>
            </div>
      </footer>



      </div>
    </body>
    <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="js/materialize.min.js"></script>
          <script>
          	$(document).ready(function(){
          	$('.slider').slider();
          	$('#textarea1').val('New Text');
      		$('#textarea1').trigger('autoresize');
      		$('.datepicker').pickadate({
        	selectMonths: true, // Creates a dropdown to control month
        	selectYears: 15 // Creates a dropdown of 15 years to control year
    		});

          	});
          	</script>
  </html>
