body{
  background-color: #F7FE2E;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;

}

.div_fondo{
  border-top:10px;
  border-bottom: 10px;
  border-radius: 4px;
  height: 100%;
}

 #top{
  position: relative;
  background-color: transparent;
 }

 #nav_top{
  border-top: 10px;
  border-bottom: 10px;
  background-color: gray;
 }
#nav-mobile li a{
  font-family: arial;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
#nav-mobile li a:hover{
  font-size: 1em;
  font-weight: bold;
  background-color: orange;
  color: black;
}

.pagina_actual {
  font-size: 1em;
  font-weight: bold;
  background-color: orange;
  color: black;
}

 #top a{
  font-family: arial;
 	font-size: 2em;
 	font: bold;
 	font-family: verdana;
 	color: #FFF;
 }

 #columna_izq{
 	float: left;
 	width: 14%;

 }

 #columna_dcha{
 	float: right;
 	width: 82%;
 	background-color: #424242;
 	color: white;
 	margin: 2%;
 	border: 1px solid #e0e0e0;
 }

 #pie{
 	clear: both;
 }

 .collection .collection-item.active {
  background-color: #424242;
  color: #eafaf9;
}

#prueba table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 50px;
    background-color: #f1f1c1;
}

#destinos .collection .collection-item ul li {

  background: blue;
}
footer.page-footer {
  background-color: #424242;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: black;
}

.card{
  margin-top: 20px;

}

.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.collection .collection-item {
  background-color: #aaa;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  font-size: 20px;
}

.collection.with-header .collection-header {
  background-color: #424242;
}

.div_media_pantalla{

  position: relative;
  font-size: 1.5em;
}

#buscar{
  font-size: 1em;
  width: 100%;
}

#dest::-webkit-input-placeholder{
  color: #808080;
}
#name_user::-webkit-input-placeholder{
  color: #808080;
} 

#name_user1::-webkit-input-placeholder{
  color: #808080;
} 

#destino::-webkit-input-placeholder{
  color: #808080;
} 

#modelo::-webkit-input-placeholder{
  color: #808080;
}
#correo::-webkit-input-placeholder{
  color: #808080;
}

#pass::-webkit-input-placeholder{
  color: #808080;
}
#destino_index::-webkit-input-placeholder{
  color: #808080;
}

#fecha::-webkit-input-placeholder{
  color: #808080;
}

#segunda_transicion{
  color: black;
}
#tercera_transicion{
  color: #AEB404;
}
#cuarta_transicion{
  color: black;
}
#destinos{
  float: right;
  font-size: 1em;
}

#boton_buscar{
  margin-left: 7%;
}

.texto_principal{
  font-size: 0.7em;
  margin-bottom: 0%;
  margin-top: 0%;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

.titulo2 {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.parrafo {
  margin: 0em 1.5em 1.5em 1.5em;
}

.tabla {
  margin:2em;
}

.margen {
  margin-left: 1.5em;
}
#imagen_usuario{
  align-self: center;
  margin-left: 20%;
}

#imagen_registro{
  width: 100%;
}

.text_shadow{
  font-size: 3em;
  margin-top: 0%;
  text-align: center;

  border: 0.08em solid #000000;
  padding: 0.08em 0.22em;
  border-radius: 0.6em;
  background:rgba(0,0,255,0.65);
}

.logo {
  margin-top: -5%;
  width: 8em;
  height: 3.5em;
}
